body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: #f5f5f5; */
  /* background-color: #ddf3f5; */
  /* background-color: #19e68c; */
}

.container {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
