.form-selector {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.main-img-container {
  width: 40%;
}

.main-header {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  min-height: 90vh;
}

.main-img-connect {
  object-fit: contain;
  width: 400px;
}

.main-img {
  object-fit: contain;
  width: 1350px;
}

.main-img-grad {
  transform: translateY(50px);
  z-index: -1;
  object-fit: contain;
  width: 400px;
}

.para-header {
  font-size: 1.6rem;
  font-weight: 600;
}

.para-content {
  width: 60%;
  margin-top: 30px;
}

.para-content-grad {
  width: 50%;
  margin-top: 30px;
}

.para-info {
  font-weight: 100;
  font-style: normal;
  margin-top: 5px;
}

.para-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.para-button {
  width: 8rem;
  height: 2.2rem;
  cursor: pointer;
  line-height: 2;
  color: white;
  background-color: #a6c;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.login {
  background-color: #4285f4 !important;
}
