.profile-container {
  display: flex;
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-card {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 80%;
}

.work-img {
  object-fit: contain;
  width: 95%;
}

.profile-info {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 10px;
}

.profile-big-img {
  margin: 10px;
  background-color: #bfbfbf;
  object-fit: contain;
  height: 150px;
  border-radius: 50%;
}

.check-img {
  object-fit: contain;
  width: 5%;
}

.profile-content {
  width: 100%;
}

.profile-field {
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 1rem;
  border-radius: 5px;
}

.bg-lite {
  background-color: white;
}

.bg-dark {
  background-color: #e5e5e5;
}

.profile-heading {
  margin-left: 90px;
  font-weight: 600;
  font-size: 2.1rem;
  color: #14142b;
  margin-bottom: 80px;
}

.btn {
  text-transform: uppercase;
  width: 10rem;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 17px;
}

.verify {
  color: #ff0038;
}

.contact {
  color: #007bff;
}
